.card {
  border: none; 
}

.custom-card-services {
  background-color: #00366f; 
  color: white; 
  padding: 20px;
}

.services-text {
  padding-top: 30px;
}

.container-services {
  padding-top: 1rem;
}

.text-main-service {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.services-button {
  display: inline-block;
  background-color: #00366f; 
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
}

.services-button:hover {
  background-color: #004c9d; 
}

.spacing-services-bottom {
  padding-bottom: 10rem;
}